*,
html {
    margin: 0;
    padding: 0;
}

[data-theme="light"] {
    --color-bg: lightblue;
    --color-fg: black;
 }
 
 [data-theme="dark"] {
    --color-bg: darkblue;
    --color-fg: white;
 }

body {
    text-transform: uppercase;
    background-color: var(--color-bg);
    color: var(--color-fg);
    height: 100%;
    width: 100%;
}

/* atur navigasi */
.navigasi {
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;
}


.li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    font-size: 100%;
}
.teks-nav {
    float: right;
    color: var(--color-fg);
    text-decoration: none;
}

.dl-button {
        font-size: 15px;
        font-weight: bold;
        transition: all var(--global-transition-time) ease-in-out;
        border-radius: 2px;
        cursor: pointer;
        color: var(--color-fg);
        background-color: var(--color-bg);
        border: 5px solid var(--color-fg);
        float: right;
}

/* isi */

.konten{
    text-align: center;
    width: auto;
    height: auto;
    background-color: none;
    margin: 100px;
    color: var(--color-fg);
}

/* atur index */

.sisip{
    text-decoration: none;
    color: var(--color-fg);
}
.sisip:hover {
    transition: .2s;
    color: aquamarine;
}
/* atur contact */
.con-text{
    text-decoration: none;
    color: var(--color-fg);
}
.con-text:hover {
    transition: .2s;
    color:aquamarine;
}

/* atur blog */
.blog-tab div{
    display: none;
    color: var(--color-fg);
  }
  
.blog-tab div:target{
    display: block;
    
}
.blog-nav{
    display: block;
    text-align: left;
    color: var(--color-fg);
    text-decoration: none;
}
.blog-nav:hover{
    color: coral;
}
.blog-nav:active{
    color: black;
    background-color: salmon;
    width:fit-content;
}

.panca-li{
    list-style-type: circle;
    text-align:justify;
}
.disini{
    color: var(--color-fg);
    text-decoration: none;
}
.disini:hover{
    color:lightcoral;
}
.disini:active{
    color: lightsalmon;
}
/* atur gallery */
.gal-box{
    margin: 5px;
    border: 1px solid var(--color-fg);
    float: left;    
    width: 200px;
    height: 200px;
}

.gal-a{
    color: var(--color-fg);
    text-decoration: none;
}
.gal-a:hover{
    color: coral;
}